@font-face {
    font-family: Drugs;
    src: url(Drugs.otf);
}
@font-face{
    font-family: Helvetica;
    src: url(Helvetica.dfont);
}
@font-face{
    font-family: LinLibertine;
    src: url(LinLibertine_R.ttf);
}

.navigation {
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
  font-family: Drugs;
  font-weight: 600;
  border-color: black;
  border-width: 1px;
  margin: 0;
  padding: 0;
}

.navigation li a {
  float: left;
  display: block;
  list-style: none;
  text-align: center;
  font-size: 11px;
  padding: 20px 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition-duration: 0.4s;
}

.navigation li a:hover {
  background-color: white;
  color: black;
}

body {
  background-color: black;
  margin-top: 0px;
}

img {
  position: relative;
  overflow: scroll;
  text-align: center;
}


h2 {
  margin: 2px;
  color: white;
  text-align: center;
  font-family: Drugs;
}

.icon {
  position: absolute;
  text-decoration: none;
  z-index: 2;
}

.icon:hover{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  position: absolute;
  text-decoration: none;
  z-index: 2;
  color: white;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


.icontext{
  display:none;
  position: absolute;
  font-family: Drugs;
  width: 120px;
  background-color: transparent;
  color: white;
  text-align: center;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

a{
  text-decoration: none;
  color: white;
}

.material-icons:hover {
  filter: drop-shadow(0px 10px 4px rgba(0,0,0,0.75));
}

#brazil-icon {
  top: 605px;
  left: 500px;
}

#london-icon {
  top: 380px;
  left: 690px;
}

#delhi-icon {
  top: 495px;
  left: 945px;
}

#reef-icon {
  top: 630px;
  left: 1180px;
}

#sahara-icon {
  top: 505px;
  left: 720px;
}

#arctic-icon {
  top: 140px;
  left: 690px;
}

#pacific-icon {
  top: 465px;
  left: 200px;
}

#america-icon {
  top: 440px;
  left: 380px;
}

#yellowriver-icon {
  top: 470px;
  left: 1050px;
}

.location_map {
  line-height: 2;
  color: #315068;
  text-align: center;
  width: 100%;
}

#India {
  background-image: url(India.png);
}


#Amazon {
  background-image: url(Amazon.png);
}


#Reef {
  background-image: url(Reef.png);
}


#Sahara {
  background-image: url(Sahara.png);
}


#London {
  background-image: url(London.png);
}

#Arctic {
  background-image: url(Arctic.png);
}

#Pacific {
  background-image: url(Pacific.png);
}

#America {
  background-image: url(Fossil.png);
}

#Yellow {
  background-image: url(Yellow.png);
}

#location_text {
  margin-top: 10px;
}

.button {
  margin-top: 450px;
  margin-right: 10px;
  width: 20em;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  transition-duration: 0.4s;
  padding: 5px;
}

.button:hover {
  background-color: darkgray;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);;
    margin: auto;
    border: 30px solid transparent;
    width: 90%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
    font-family: Lucida;
    overflow: auto;
}

/* Modal Content/Box */
.modal-header {
    padding: 2px 2px;
    background-color: rgba(120, 120, 120, 0.2);;
    color: white;
    font-family: Drugs;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.modal-body-container {
    padding: 2px 2px;
}

.modal-body {
  font-size: 18px;
  overflow: auto;
  text-indent: 20px;
  text-align: left;
  color: black;
  font-family: LinLibertine;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submissions {
  position:relative;
  color: white;
  font-size: 20px;
  overflow: auto;
  right:2px;
  font-family: Drugs;
}


form {
  color: white;
  font-family: Drugs;
  line-height: 2;
  text-decoration: none;
}

#form_box {
  background-color: rgba(200,200,200,0.4);
  padding: 5px 75px 40px 30px;
  display: inline-block;
  text-align: left;
}

#form_box_container {
  margin-top: 10px;
  text-align: center;
}

input[type=text], textarea {
  width: 100%;
  outline: none;
  border-radius: 4px;
  padding: 12px 20px;
}

input[type=text] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=submit] {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 4px;
  text-align: center;
  padding: 12px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  font-family: Drugs;
  font-weight: bold;
  background-color: rgba(225,225,225,0.95);
}

input[type=submit]:hover {
  background-color: #555555; /* Green */
  color: white;
}

p {
  font-size: 13px;
  overflow: auto;
  text-indent: 20px;
  color: white;
  font-family: Drugs;
}
