@font-face {
    font-family: Drugs;
    src: url(Drugs.otf);
}
@font-face{
    font-family: Helvetica;
    src: url(Helvetica.dfont);
}
@font-face{
    font-family: LinLibertine;
    src: url(LinLibertine_R.ttf);
}

.navigation {
  background-color: transparent;
  overflow: hidden;
  font-family: Drugs;
  font-weight: 600;
  border-color: black;
  border-width: 1px;
}

.navigation a {
  float: left;
  display: block;
  list-style: none;
  text-align: center;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 5px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navigation a:hover {
  font-weight: bold;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

body {
  background-color: black;
}

img {
  position: relative;
  overflow: scroll;
  text-align: center;
}


h2 {
  margin: 2px;
  color: white;
  text-align: center;
}

.icon {
  position: absolute;
  text-decoration: none;
  z-index: 2;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

#brazil-icon {
  top: 590px;
  left: 500px;
}

#london-icon {
  top: 365px;
  left: 690px;
}

#delhi-icon {
  top: 480px;
  left: 945px;
}

#reef-icon {
  top: 615px;
  left: 1180px;
}

#sahara-icon {
  top: 490px;
  left: 720px;
}

#arctic-icon {
  top: 100px;
  left: 690px;
}

.location_map {
  line-height: 2;
  color: #315068;
  text-align: center;
  width: 100%;
}

#India {
  background-image: url(India.png);
}


#Amazon {
  background-image: url(Amazon.png);
}


#Reef {
  background-image: url(Reef.png);
}


#Sahara {
  background-image: url(Sahara.png);
}


#London {
  background-image: url(London.png);
}

#Arctic {
  background-image: url(Arctic.png);
}

#location_text {
  margin-top: 10px;
}

.button {
  margin-top: 450px;
  width: 20em;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);;
    margin: auto;
    border: 30px solid transparent;
    width: 90%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
    font-family: Lucida;
    overflow: auto;
}

/* Modal Content/Box */
.modal-header {
    padding: 2px 2px;
    background-color: rgba(120, 120, 120, 0.2);;
    color: white;
    font-family: Drugs;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.modal-body {
    padding: 2px 2px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submissions {
  color: white;
}

form {
  color: white;
  font-family: Drugs;
  line-height: 2;
  text-decoration: none;
}

#form_box {
  background-color: rgba(200,200,200,0.4);
  padding: 5px 75px 20px 30px;
  display: inline-block;
  text-align: left;
}

#form_box_container {
  margin-top: 10px;
  text-align: center;
}

input[type=text], textarea {
  width: 100%;
  outline: none;
  border-radius: 4px;
}

input[type=text] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 20px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

p {
  font-size: 18px;
  overflow: auto;
  text-indent: 20px;
  text-align: left;
  color: black;
  font-family: LinLibertine;
}
