<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="resources/map.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <ul class = "navigation" id="bar">
      <li><a href="/">HOME</a></li>
      <li><a href="/submissions">SUBMIT AN IDEA</a></li>
      <li><a href="/cactus">CONTACT US</a></li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
  </head>

  <body background = 'resources/ThankYou.png'>
  <div style="text-align: center">
    <div>
      <br>
      <br>
      <img class = "teampic" src="resources/teamaestheticsftw.jpg" style = "width: 40%; padding: 1px; border: 1px solid white"></img>
      <p style = "font-size: 10px">From left to right: Jennifer Wang, Mayowa Amosu, Aljon Pineda</p>
      <br>
      <br>
      <div class="about">
      <p>Hello! We are three Google CSSIers from Atlanta who created this website in hopes of raising
        awareness toward the many environmental issues that our world faces today. </p>
      <p>Donate now to support a great cause! scammy link goes here</p>

      <p>Disclaimer: We, the Google CSSI program, and Google does not accept any responsibility
        or liability for the accuracy, content, completeness, legality, or reliability of the information
        contained on this website.
        All pictures are not ours, with the exception of the one found on the 'Contact Us' page.</p>
      </div>
    </div>
  </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="resources/map.js"></script>
</html>
