<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="resources/map.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class = "navigation" id="bar">
    <a href="/">HOME</a>
    <a href="/submissions">SUBMIT AN IDEA</a>
    <a href="/cactus">CONTACT US</a>
  </div>
</head>
  <body background = 'resources/Submit.png'>
    <form method = 'post' class='submissions'>
      <h2>Contact Us!</h2>
        <div style="text-align: center">
          Any questions, comments, or concerns? Let us know down below.
        </div>
        <div id="form_box_container">
          <div id="form_box">
            <br>Name: <input type="text" name = "user" class="input" id="username"><br>
            Email: <input type="text" name = "email" class="input" id="email"><br>
            Tell us what you think: <input type="text" name = "message" class="input" id="message"><br>
            <br><input type="submit" id="ok_button" value="Submit for Review">
          </div>
        </div>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="resources/map.js"></script>
</html>
