<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="resources/map.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <ul class = "navigation" id="bar">
    <li><a href="/">HOME</a></li>
    <li><a href="/submissions">SUBMIT AN IDEA</a></li>
    <li><a href="/cactus">CONTACT US</a></li>
    <li><a href="/about">ABOUT US</a></li>
  </ul>
</head>
  <body background = 'resources/contactus.png'>
    <form method = 'post' class='submissions'>
      <h2>Contact Us!</h2>
        <div style="text-align: center">
          Any questions, comments, or concerns? Let us know down below.
        </div>
        <div id="form_box_container">
          <div id="form_box">
            <br>Name: <input type="text" name = "user" class="input" id="username" required><br>
            Email: <input type="email" name = "email" class="input" id="email" required><br>
            Tell us what you think: <input type="text" name = "message" class="input" id="message" required><br>
            <br><input type="submit" id="ok_button" value="Send">
          </div>
        </div>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="resources/map.js"></script>
</html>
