<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="resources/map.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div class = "navigation" id="bar">
      <a href="/">HOME</a>
      <a href="/submissions">SUBMIT YOUR OWN IDEA</a>
    </div>
  </head>

  </head>
  <body>
    <div>
      <img src ="resources/LightLandingPagev2.png"></img>
      <div class = "icon" id = "brazil-icon"><a href="map?page_id=0"><i class="material-icons">location_on</i></div></a>
      <div class = "icon" id = "delhi-icon"><a href="map?page_id=1"><i class="material-icons">location_on</i></div></a>
      <div class = "icon" id = "london-icon"><a href="map?page_id=2"><i class="material-icons">location_on</i></div></a>
      <div class = "icon" id = "sahara-icon"><a href="map?page_id=3"><i class="material-icons">location_on</i></div></a>
      <div class = "icon" id = "reef-icon"><a href="map?page_id=4"><i class="material-icons">location_on</i></div></a>
      <div class = "icon" id = "arctic-icon"><a href="map?page_id=5"><i class="material-icons">location_on</i></div></a>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="resources/map.js"></script>
</html>
