<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Submissions</title>
  <link rel="stylesheet" href="resources/map.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <ul class = "navigation" id="bar">
    <li><a href="/">HOME</a></li>
    <li><a href="/submissions">SUBMIT AN IDEA</a></li>
    <li><a href="/cactus">CONTACT US</a></li>
    <li><a href="/about">ABOUT US</a></li>
  </ul>
</head>
  <body background = 'resources/Submit.png'>
    <form method = 'post' class='submissions'>
      <h2>Help us out!</h2>
        <div style="text-align: center">
          Submit your own environmental issues and help increase awareness about the environmental dangers our planet is facing.
        </div>
        <div id="form_box_container">
          <div id="form_box">
            <br>Name: <input type="text" name = "user" class="input" id="username" required><br>
            Email: <input type="email" name = "email" class="input" id="email" required><br>
            Location: <input type="text" name = "location" class="input" id="location" required><br>
            Climate: <br> <textarea name="climate_submission" class="input" id="climate_submission" placeholder = "Enter text here..." required></textarea><br>
            Environmental Issue: <br> <textarea name="issue_submission" class="input" id="issue_submission" placeholder = "Enter text here..." required></textarea>
            <br><input type="submit" id="ok_button" value="Submit for Review">
          </div>
        </div>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="resources/map.js"></script>
</html>
